
@media only screen and (max-width: 500px) {
  .img{
    width:300px;
    height: 300px;
  }
  .Lef{
    border: none !important;
  }
  .col{
    text-align: center !important;
  }
}
@media only screen and (min-width: 500px) {
  .img{
    width:500px;
    height: 500px;
  }
  .body .col{
    padding: 16px;
  }
}

.bg-1, .bg-2, .bg-3{
  padding: 50px;
}

h3{
    margin:  40px;
}

.bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
      padding: 50px;
  }

  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;

  }

  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
