.container {
	width: 100%;
	margin: 0 auto;
	border: solid 1px #ccc;
	border-radius: 5px;
	overflow: hidden;
}

.chat-container {
	height: 80vh;
	overflow: auto;
	transform: rotate(180deg);
	direction: rtl;
}
.chat-container .message {
	border-bottom: solid 1px #ccc;
	padding: 20px;
	transform: rotate(180deg);
	background: white;
	direction: ltr;
}


.chat-container .message .datetime {
	float: right;
	color: #999;
}
header{
	padding:16px;
	background: white;
}
.send-message-form{
  margin-bottom: 0px;
}

.send-message-form input {
	width: 100%;
	border: none;
  height:5vh;
	font-size: 16px;
	padding: 10px;
}

.send-message-form button {
	display: none;
}
